.deleteIcon {
    position: absolute;
    right: -25px;
    cursor: pointer;

    color: darkgrey;
}

.deleteCriteriaIcon {
    right: 0;
    left: -25px;
    top: 13px;
}

.deleteIcon:hover {
    color: black;
}

.list {
    width: 100%;
}

.criteria {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.criteria + .criteria {
    margin-top: 50px;
}

.criteria + .criteria:before {
    content: "";
    display: block;
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;

    height: 1px;
    background: #bdbdbd;
}

.field {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
}

.field + .field {
    margin-left: 60px;
}

.values {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-top: 30px;
}

.value {
    position: relative;
}

.value + .value {
    margin-top: 10px;
}

.addValueButton {
    align-self: center;
    margin-top: 4px !important;
}
