.stepper {
    width: 100%;

    background: transparent !important;
    margin-bottom: 16px;
}

.content {
    margin-left: auto;
    margin-right: auto;

    max-width: 1024px;
}

.form {
    width: 100%;

    padding: 40px;
}

.breadCrumbs {
    margin-bottom: 32px !important;
}

.submit {
    margin-top: 25px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px;
    margin-bottom: 30px;

    width: 100%;

    font-weight: 500;
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.01);
}

.tooltipText {
    font-size: 14px;
    line-height: 20px;
}
